<div class="container">
    <h1 class="mb-3">Add New User</h1>
    <div class="row">
        <div class="col-6">
            
            <form #form="ngForm" (ngSubmit)="addUser()">
                <div class="mb-3">
                  <label for="UserName" class="form-label">UserName</label>
                  <input type="text" class="form-control" id="UserName" 
                  name="UserName"  placeholder="Enter Your Name Here" [(ngModel)]="addUserRequest.name">
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="Email"
                    name="Email" placeholder="Enter Your Email Address" [(ngModel)]="addUserRequest.email">
                </div>
                <div class="mb-3">
                    <label for="PhoneNumber" class="form-label">PhoneNumber</label>
                    <input type="number" class="form-control" id="PhoneNumber"
                    name="PhoneNumber"  [(ngModel)]="addUserRequest.phone">
                </div>
                <div class="mb-3">
                    <label for="Address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="Address"
                    name="Address" placeholder="Enter Your Address" [(ngModel)]="addUserRequest.address">
                </div>  
                <div class="mb-3">
                    <label for="DateOfBirth" class="form-label">DateOfBirth</label>
                    <input type="date" class="form-control" id="DateOfBirth"
                    name="DateOfBirth" [(ngModel)]="addUserRequest.dateOfBirth">
                </div> 
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
    
</div>

